<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with(model: desk, html: { class: "my-form" }) do |form| %>
        <% if desk.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(desk.errors.count, "error") %> prohibited this desk from being saved:</h2>
            <ul>
              <% desk.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :description, "Description", class: "display-block" %>
          <%= form.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :photo, "Desk Photo", class: "display-block" %>
          <%= form.file_field :photo, class: "form-control-file" %>
        </div>

        <div class="form-group">
          <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
