<p style="color: green"><%= notice %></p>

<h1>Desks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @desks.each do |desk| %>
      <tr>
        <td><%= desk.description %></td>
        <td>
          <%= link_to "Show", desk, class: "btn btn-primary btn-sm" %>
          <% if current_user.admin? %>
            <%= link_to "Edit", edit_desk_path(desk), class: "btn btn-secondary btn-sm" %>
            <%= button_to "Destroy", desk, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <%= link_to "New Desk", new_desk_path, class: "btn btn-success" %>
<% end %>
