<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="text-success"><%= notice %></p>
      
      <h1>Check Desk Availability</h1>
      <%= form_tag(check_availability_desks_path, method: :get, class: "mb-4") do %>
        <div class="form-group">
          <%= label_tag :desk_id, "Select Desk" %>
          <%= select_tag :desk_id, options_from_collection_for_select(Desk.all, :id, :description), class: "form-control" %>
        </div>
    
        <div class="form-group">
          <%= label_tag :date, "Select Date" %>
          <%= date_field_tag :date, nil, class: "form-control" %>
        </div>
    
        <%= submit_tag "Check Availability", class: "btn btn-primary" %>
      <% end %>
    
      <% if flash[:notice] %>
        <p class="text-success"><%= flash[:notice] %></p>
      <% elsif flash[:alert] %>
        <p class="text-danger"><%= flash[:alert] %></p>
      <% end %>
    </div>

    <div class="col-md-6">
      <h1>Desks</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @desks.each do |desk| %>
            <tr>
              <td><%= desk.description %></td>
              <td>
                <% if desk.photo.attached? %>
                  <%= link_to "Show", desk, class: "btn btn-primary btn-sm" %>
                <% end %>
              </td>
              <td>
                <% if current_user.admin? %>
                  <%= link_to "Edit", edit_desk_path(desk), class: "btn btn-secondary btn-sm" %>
                  <%= button_to "Destroy", desk, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <% if current_user.admin? %>
        <%= link_to "New Desk", new_desk_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
