<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with(model: reservation, class: "my-form") do |form| %>
        <% if reservation.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
            <ul>
              <% reservation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <% if current_user.admin? %>
          <div class="form-group">
            <%= form.label :user_id, "User", class: "display-block" %>
            <%= form.collection_select :user_id, User.all, :id, :email, {prompt: "Select User"}, {class: "form-control"} %>
          </div>
        <% else %>
          <%= form.hidden_field :user_id, value: current_user.id %>
        <% end %>

        <div class="form-group">
          <%= form.label :desk_id, "Desk", class: "display-block" %>
          <%= form.collection_select :desk_id, Desk.all, :id, :description, {prompt: "Select Desk"}, {class: "form-control"} %>
        </div>

        <div class="form-group">
          <%= form.label :start_date, "Start Date", class: "display-block" %>
          <%= form.date_field :start_date, min: Date.today, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :end_date, "End Date", class: "display-block" %>
          <%= form.date_field :end_date, min: Date.today, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
