<nav>
    <ul>
        <li><%= link_to "Strona główna", root_path %></li>
        <li><%= link_to "Rezerwacje", reservations_path %></li>
        <li><%= link_to "Biurka", desks_path %></li>
        <li><%= link_to "Użytkownicy", users_path %></li>
    </ul>
</nav>
<h1>Hot-Desk</h1>
<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
<p>
    W tym miejscu znajdzie się wszystko
</p>
